services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: welcome1
    ports:
      - "5432:5432"
    volumes:
      - data:/var/lib/postgresql

volumes:
  data: